#resultat {
    font-size: 125%;
    margin-bottom: 1em;
}

.col {
    min-width: 230px;
}

li {
	list-style-type: none;
}

.depute-apercu {
    margin-bottom: 30px;
}

.depute-apercu > div,
.depute-apercu > a {
    display: block;
}

.depute-apercu > div,
.depute-apercu > a,
.depute-image {
    margin-left: auto;
    margin-right: auto;
    width: 250px;
}

.depute-image {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    line-height: 1.42857143;
    padding: 4px;
}

.depute-nom {
    font-size: 125%;
    margin-bottom: 5px;
    margin-top: 5px;
}

.depute-parti {
    margin-bottom: 5px;
}

.parti-couleur {
    height: 25px;
}