#infos-parti-liens {
    padding-top: 15px;
}

.depute-image {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    padding: 4px;
    width: 200px;
}