#infos-parti-liens {
    padding-top: 15px;
}

#grapheDepenses {
    height: 300px;
}

#table-depenses .depense-categorie td {
    color: #686868;
    font-weight: bold;
}

#table-depenses .depense-souscatego td {
    color: #686868;
    font-weight: normal;
}

#table-depenses .depense-montant {
    text-align: right;
}

#table-depenses .depense-souscatego .depense-titre {
    padding-left: 20px;
}

#table-depenses .grand-total td {
    font-weight: bold;
}

.depute-image {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    padding: 4px;
    width: 200px;
}