.mainContainer {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.recherche {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.table-comparatif {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.tabl-depute-a-compare{
	max-width: 36vw;
	float: left;
	margin-left: 20px;
}


#hidden {
	visibility: hidden;
	display: none;
}

#visible {
	visibility: visible;
	display: block;
}

#loi {
	visibility: hidden;
	display: none;
}



