body {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  font: kayak;
}

.cd-section{
  margin-top: 50px;
}

.p1Box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  align-self: center;
  height: 100vh;
}

.title {
  text-align: center;
  font-size: 4.5rem;
  text-shadow: 3px 4px 7px rgba(0, 0, 0, 0.65);
}

.downArrow{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 60px;
}

.downArrowImg{
  width: 80px;
  height: 60px;
  cursor: pointer;
}


.p2Box {
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-content: center;
  align-self: center;
  height: 100vh;
  width: 100vw;
}

.p2Text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  align-self: center;
  color: white;
  mix-blend-mode: difference;
  font-size: 3.6vh;
  padding: 0 0px 0 3%;
  width: 30vw;
}

.search {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  align-self: center;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  align-self: center;
  padding: 0 8% 0 0;
}

.infoItem {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  align-self: center;
  height: 16vh;
  width: 25vw;
  background-color: lightgrey;
  border-radius: 20px;
  margin: 10px 0 10px 0;
  opacity: 0.8;
}

.pic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1.3vh 0 1.3vh 1.3vh;
  background-color: white;
  border-radius: 10px
}

.glyph {
  color: rgba(0, 0, 0, 0.78);
  font-size: 10vh;
  margin: 0 5px 0 5px;
}

.infoText {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  align-self: center;
  flex-wrap: wrap;
  line-height: 3.5vh;
  color: black;
  opacity: 1;
  font-size: 2.6vh;
  margin: 0 10px 0 10px;
}

.third{

}

.p3Box {

  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  align-self: center;
  height: 100vh;
}

.p3Text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  align-self: center;
  color: white;
  mix-blend-mode: difference;
  font-size: 2.4rem;
  padding: 0 40px 0 30px;
}
