<% var deputeId = depute.memberships[0].riding.id %>

<!DOCTYPE html>
<html lang="fr-CA">
<head>
    <% include ../partials/balise-head-global %>
     <% include ../partials/balise-head-amcharts-datatables %>
    <link rel="stylesheet" href="/css/depute-profil.css">
    <link rel="stylesheet" href="/css/depute-profil-infos.css">

    <script>
    
        $(document).ready(function() {

            $('#example').DataTable( {

                "ajax": '/depute-profil-votes-json/<%= deputeId %>'
            } );
        } );

    </script>
</head>
<body class="container">
    <header>
        <% include ../partials/entete %>
    </header>

    <main>
        
<table class="table table-striped table-bordered" width="100%" id="example"  cellspacing="0">

        <thead>

            <tr>

                <th>Loi</th>


        <ul class="nav nav-pills nav-justified menu-depute-profil">
            <li><a href="/depute-profil-infos/<%= deputeId %>">Profil</a></li>
            <li class="active"><a href="">Votes</a></li>
            <li><a href="/depute-profil-depenses/<%= deputeId %>">Dépenses</a></li>
            <li><a href="/depute-profil-comparaison/<%= deputeId %>">Comparaison</a></li>
        </ul>

                <th>Vote</th>


            </tr>

        </thead>

    </table>
    </main>

    <footer>
        <% include ../partials/pied-page %>
    </footer>
</body>
</html>
