<!DOCTYPE html>
<html lang="fr-CA">
<head>
    <% include ../partials/balise-head-global %>
    <link rel="stylesheet" href="/css/deputes.css">
</head>
<body class="container">
    <header>
        <% include ../partials/entete %>
    </header>

    <main>
        <div class="row" id="resultat">
            <div class="col col-xs-12">
                Résultats 1 à 12 sur <%= politiciens.length %>
            </div>
        </div>

        <div class="row">
            <ul >
        <% for (var i = 0; i <politiciens.length; ++i) {
        var memberships = politiciens[i].memberships[0];
        var deputeName = politiciens[i].name;
        var deputeId = memberships.riding.id ;

        var deputeImage = "/images/politicien.png";
        if (politiciens[i].image) {
            deputeImage = "http://openparliament.ca" + politiciens[i].image;
        }
        var patryShortName = memberships.party.short_name.en.toLowerCase() ;
        var partyName = memberships.party.name.en;
        var name  = memberships.riding.name.en;
        var province = memberships.riding.province;

        %>
            <li class="col-sm-4 depute-apercu">
                <!-- À corriger éventuellement. J'aime pas qu'on utilise openparliament.ca comme source. - O.R. -->
                <a href="/depute-profil-infos/<%= deputeId %>" ><img src="<%= deputeImage %>" class="img-responsive depute-image"></a>
                <a href="/depute-profil-infos/<%= deputeId %>" class="depute-nom"><%= deputeName %></a>
                <div class="parti-couleur parti-couleur-<%= patryShortName %>"></div>
                <div class="depute-parti"><%= partyName %></div>
                <div class="depute-comte"><%= name %></div>
                <div class="depute-province"><%= province %></div>
            </li>
        <% } %>
            </ul>
        </div>
    </main>

    <div class="text-center">
    <ul class="pagination pagination-lg">
        <li><a href="#">Précédents</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">Suivants</a></li>
    </ul>
    </div>


    <footer>
        <% include ../partials/pied-page %>
    </footer>
</body>
</html>
