
<% var deputeId = depute.memberships[0].riding.id %>

<!DOCTYPE html>
<html lang="fr-CA">
<head>
    <% include ../partials/balise-head-global %>
    <% include ../partials/balise-head-amcharts-datatables %>
    <link rel="stylesheet" href="/css/depute-profil.css">
    <link rel="stylesheet" href="/css/depute-profil-comparaison.css">
    <script src="/javascripts/main.js"></script>
     <script>
    
        $(document).ready(function() {

            $('#table1').DataTable( {

                "ajax": '/depute-profil-votes-json/<%= deputeId %>'
            } );
        } );

    </script>
</head>
<body class="container">
    <header>
        <% include ../partials/entete %>
    </header>
    <main>
    	 <h1 class="depute-nom"><%= depute.name %></h1>

        <ul class="nav nav-pills nav-justified menu-depute-profil">
            <li><a href="/depute-profil-infos/<%= deputeId %>">Profil</a></li>
            <li><a href="/depute-profil-votes/<%= deputeId %>">Votes</a></li>
            <li><a href="/depute-profil-depenses/<%= deputeId %>">Dépenses</a></li>
          	<li class="active"><a href="">Comparaison</a></li>
        </ul>
        <div class="mainContainer">
        	 <div class="recherche">
        	<form id="rechercheForm3" class="navbar-form search">
                  <div class="form-group input-group">
                  <select id="listDep">

                  </select>

                   
                  </div>
              </form>
        </div>

        <div class="table-comparatif" id="visible">
        	<div class="tabl-depute-a-compare">
        		<table class="table table-striped table-bordered" id="table1"  cellspacing="0">

        <thead>

            <tr>

                <th width="150">Loi</th>


                <th width="50">Vote</th>


            </tr>

        </thead>

    </table>
        	</div>




        	<div class="tabl-depute-a-compare">
        		<table class="table table-striped table-bordered"  id="table2"  cellspacing="0">

        <thead>

            <tr>

               <th width="150">Loi</th>


                <th width="50">Vote</th>


            </tr>

        </thead>

    </table>
        	</div>
        </div>

        </div>
       
    </main>
        
    <footer>
        <% include ../partials/pied-page %>
    </footer>
</body>