<%
var deputeId = depute.memberships[0].riding.id
var depenses = depute.expenditures;
var donneesGraph = [];
%>

<!DOCTYPE html>
<html lang="fr-CA">
<head>
    <% include ../partials/balise-head-global %>
    <% include ../partials/balise-head-amcharts-datatables %>
    <link rel="stylesheet" href="/css/depute-profil.css">
    <link rel="stylesheet" href="/css/depute-profil-depenses.css">

    <!-- Config. du graphe des dépenses -->
    <script type="text/javascript">
    var chart =
    AmCharts.makeChart("grapheDepenses",
    {
        "type": "pie",
        "theme": "light",
        "depth3D": 10,
        "angle": 15,
        "balloonText": "[[title]]<br><span style='font-size:14px'><b>[[value]]$</b> ([[percents]]%)</span>",
        "innerRadius": 0,
        "colors": [],
        "outlineThickness": 4,
        "titleField": "depenseTitre",
        "valueField": "montant",
        "handDrawScatter": 6,
        "theme": "default",
        "allLabels": [],
        "balloon": {},
        "legend": { "enabled": false },
        "titles": [{
            "id": "titre",
            "size": 12,
            "tabIndex": 0,
            "text": "Dépenses depuis <%= depenses.StartDate %>"
        }],
        "numberFormatter": {
            "precision": 2,
            "decimalSeparator": ",",
            "thousandsSeparator": " "
        },
        "dataProvider": [] // Les données seront initialisée plus tard.
    });
    </script>

    <!-- Config. de la table des dépenses -->
    <script type="text/javascript">
    $(document).ready(function() {
        $('#table-depenses').DataTable({
            info: false, // Pas de mention « Entrée 1 de X »
            language: { "search" : "Filtrer" },
            "order": [],
            paging: false, // Page de page. Toutes les entrées sont affichées.
            "columnDefs": [
                // Configuration de la colonne des montants
                { "type": "html-num-fmt", "targets": 1, "render": $.fn.dataTable.render.number( " ", ",", 2, "", "$") }
            ],
        });
    });
    </script>
</head>
<body class="container">
    <header>
        <% include ../partials/entete %>
    </header>

    <main>
        <h1 class="depute-nom">Dépenses de <%= depute.name %></h1>

        <ul class="nav nav-pills nav-justified menu-depute-profil">
            <li><a href="/depute-profil-infos/<%= deputeId %>">Profil</a></li>
            <li><a href="/depute-profil-votes/<%= deputeId %>">Votes</a></li>
            <li class="active"><a href="">Dépenses</a></li>
            <li><a href="/depute-profil-comparaison/<%= deputeId %>">Comparaison</a></li>
        </ul>

        <div class="row">
            <div class="col-xs-6 col-sm-3">
                <img src="http://openparliament.ca<%= depute.image %>" class="img-responsive depute-image">
            </div>
            <div class="col-xs-6 col-sm-9" id="infos-parti">
                <div>
                    <label>Affiliation politique :</label>
                    <%= depute.memberships[0].party.name.en %>
                </div>
                <div>
                    <label>Circonscription :</label>
                    <%= depute.memberships[0].riding.name.en %>
                </div>
                <div>
                    <label>Province / territoire :</label>
                    <%= depute.memberships[0].riding.province %>
                </div>

                <hr>

                <div id="grapheDepenses"></div>
            </div>
        </div>

        <!-- Table des dépenses -->
        <div class="row">
            <div class="col-xs-12">
                <div>

                <table class="table table-striped table-bordered" id="table-depenses">
                <thead>
                    <tr>
                        <th data-orderable="false">Dépenses</th>
                        <th>Montants</th>
                    </tr>
                </thead>

                <tbody>
                <%
                // Grand total de toutes les dépenses
                var grandTotal = 0;

                // Pour chaque grande catégorie de dépenses
                for (i in depenses.ExpenditureCategories.Category) {
                    var depense = depenses.ExpenditureCategories.Category[i];
                    var total = parseFloat(depense.Total.value);
                    var devise = depense.Total.currency;
                    
                    // Certaines catégories n'ont pas de total. Il faut le calculer à la main
                    // en faisant la somme de toutes les sous-dépenses.
                    if (isNaN(total)) {
                        total = 0;
                        devise = "";

                        for (var j in depense.SubCategories.Category) {
                            var sousDepense = depense.SubCategories.Category[j];


                            if ("Total" in sousDepense && !isNaN(sousDepense.Total.value)) {
                                devise = sousDepense.Total.currency;
                                total += parseFloat(parseFloat(sousDepense.Total.value).toFixed(2));
                            }
                        }
                    }

                    grandTotal += total ;
                    // Ça c'est pour générer l'array des données du graphe
                    donneesGraph.push( {"depenseTitre": depense["name-fr"], "montant": total });
                    %>
                    
                    <!-- Affichage des données de la grande catégorie de dépenses -->
                    <%- '<tr class="depense-categorie"><td class="depense-titre">' %>
                    <%- depense["name-fr"] + '</td><td class="depense-montant">' %>
                    <%= total %>
                    <%- "</td></tr>" %>

                    <%
                    // Affichage des possibles sous-catégories de la dépense en cours
                    for (var j in depense.SubCategories.Category) {
                        var sousDepense = depense.SubCategories.Category[j];

                        if ("Total" in sousDepense && !isNaN(sousDepense.Total.value)) {
                            var devise = sousDepense.Total.currency;
                            var sousTotal = parseFloat(sousDepense.Total.value);
                            var titre = sousDepense["name-fr"];
                    %>
                    
                    <!-- Affichage des données de la sous-catégorie de dépenses -->
                    <tr class="depense-souscatego">
                        <td class="depense-titre"><%= titre %></td>
                        <td class="depense-montant"><%= sousTotal %></td>
                    </tr>

                    <%
                        }
                    } // Boucle for des sous-catégories de dépenses
                    %>

                <%
                } // Boucle for des grandes catégories de dépenses
                %>

                    <tfooter>
                        <tr class="grand-total"><td class="depense-titre">Grand total</td><td class="depense-montant"><%= grandTotal %></td></tr>
                    </tfooter>
                </tbody>
                </table>


                <script type="text/javascript">
                    // Initialisation du graphe
                    chart.dataProvider = <%- JSON.stringify(donneesGraph) %>;
                </script>
            </div> <!-- Fin de la colonne -->
        </div> <!-- Fin de la rangée -->
    </main>

    <footer>
        <% include ../partials/pied-page %>
    </footer>
</body>
</html>