<% var deputeId = depute.memberships[0].riding.id %>

<!DOCTYPE html>
<html lang="fr-CA">
<head>
    <% include ../partials/balise-head-global %>
    <link rel="stylesheet" href="/css/depute-profil.css">
    <link rel="stylesheet" href="/css/depute-profil-infos.css">
</head>
<body class="container">
    <header>
        <% include ../partials/entete %>
    </header>

    <main>
        <h1 class="depute-nom"><%= depute.name %></h1>

        <ul class="nav nav-pills nav-justified menu-depute-profil">
            <li class="active"><a href="">Profil</a></li>
            <li><a href="/depute-profil-votes/<%= deputeId %>">Votes</a></li>
            <li><a href="/depute-profil-depenses/<%= deputeId %>">Dépenses</a></li>
            <li><a href="/depute-profil-comparaison/<%= deputeId %>">Comparaison</a></li>
        </ul>

        <div class="row">
            <div class="col-xs-6 col-sm-3">
                <img src="http://openparliament.ca<%= depute.image %>" class="img-responsive depute-image">
            </div>
            <div class="col-xs-6 col-sm-9" id="infos-parti-liens">
                <div>
                    <label>Affiliation politique :</label>
                    <%= depute.memberships[0].party.name.en %>
                </div>
                <div>
                    <label>Circonscription :</label>
                    <%= depute.memberships[0].riding.name.en %>
                </div>
                <div>
                    <label>Province / territoire :</label>
                    <%= depute.memberships[0].riding.province %>
                </div>
                
                <hr>
                
                <div >
                    <span class="glyphicon glyphicon-envelope"></span>
                    <a href="mailto:<%= depute.email %>">
                    <%= depute.email %></a>
                </div>
                <% for (i = 0; i < depute.links.length; ++i) { %>
                    <div>
                        <span class="glyphicon glyphicon-link"></span>
                        <a href="<%= depute.links[i].url %>">
                        <%= depute.links[i].note %></a>
                    </div>
                <% } %>

                <hr>

                <div id="infos-bureaux">
                    <label>Bureau(x) :</label><br>
                    <%
                    adresse_explosee = depute.other_info.constituency_offices[0].split("\n");
                    for (i = 0; i < adresse_explosee.length; ++i) {
                    %>
                        <%- adresse_explosee[i] + "<br>" %>
                    <% } %>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <% include ../partials/pied-page %>
    </footer>
</body>
</html>
