<!DOCTYPE html>
<html lang="fr-CA">

<head>
    <% include ../partials/balise-head-global %>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/index.css">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
        <!-- Resources for Homepage scrolling -->
        <link rel="stylesheet" href="css/reset.css">
        <link rel="stylesheet" href="css/style.css">
        <script src="javascripts/modernizr.js"></script>
        <script src="javascripts/jquery-2.1.4.js"></script>
        <script src="javascripts/velocity.min.js"></script>
        <script src="javascripts/velocity.ui.min.js"></script>
        <script src="javascripts/mainScroll.js"></script>
        <!--  -->
        <script src="/javascripts/main.js"></script>
</head>
<body data-hijacking="on" data-animation="parallax">
    <header>
        <% include ../partials/entete %>
    </header>
    <main id="main" >
        <section class="cd-section visible">
          <div class="p1Box">
            <div class="buffer">
            </div>
            <div class="title">
                Tout savoir sur l'actualité politique
            </div>
            <div class="downArrow">
                <img class="downArrowImg" src="./images/arrow.png" alt="arrow">
            </div>
          </div>
        </section>
        <section class="cd-section second">
            <div class="p2Box">
              <div class="p2Text">
                Entrez votre code postal :
              </div>
              <form id="rechercheForm2" class="navbar-form search">
                  <div class="form-group input-group">
                      <input type="text"  placeholder="Entrez un code postal" class="form-control" id="barre-nav-champ-recherche2">
                      <span class="input-group-btn">
                          <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                      </span>
                  </div>
              </form>
              <div class="info">
                  <div class="infoItem">
                    <div class="pic">
                      <span class="glyphicon glyphicon-user glyph"></span>
                    </div>
                    <div class="infoText">
                      Consulter le profil détaillé de votre représentant
                    </div>
                  </div>
                  <div class="infoItem">
                    <div class="pic">
                      <span class="glyphicon glyphicon-check glyph"></span>
                    </div>
                    <div class="infoText">
                      Voir la position prise par votre député lors de votes
                    </div>
                  </div>
                  <div class="infoItem">
                    <div class="pic">
                      <span class="glyphicon glyphicon-stats glyph"></span>
                    </div>
                    <div class="infoText">
                      Visualiser les statistiques détaillées des dépenses
                    </div>
                  </div>

              </div>
            </div>
        </section>
        <footer>
            <% include ../partials/pied-page %>
        </footer>
    </main>
</body>

</html>
