<%
var loiId = loi.legisinfo_id 
var votes = loi.vote_parties;
var donneesGraph = [];
%>

<!DOCTYPE html>
<html lang="fr-CA">
<head>
    <% include ../partials/balise-head-global %>
    <% include ../partials/balise-head-amcharts-datatables %>
    <link rel="stylesheet" href="/css/loi.css">

    <script type="text/javascript">
    var chart =
    AmCharts.makeChart("grapheVotes",
    {
        
    "type": "pie",
           "theme": "light",
        "depth3D": 5,
        "angle": 0,
           "balloonText": "[[title]]<br><span style='font-size:14px'><b>[[value]]$</b> ([[percents]]%)</span>",
    "innerRadius": 0,
        "colors": [],
        "outlineThickness": 4,
    "titleField": "category",
    "valueField": "column-1",
        "handDrawScatter": 6,
        "theme": "default",
    "allLabels": [],
    "balloon": {},
    "legend": {
        "enabled": true,
        "align": "center",
        "markerType": "circle"
    },
    "titles": [],
    "dataProvider": [
        {
            "category": "Vote : oui",
            "column-1": 2
        },
        {
            "category": "Vote : non",
            "column-1": 4
        },
        {
            "category": "pas voter",
            "column-1": 3 
        }
    ]
});
    </script>
</head>

<body class="container">
    <header>
        <% include ../partials/entete %>
        <link rel="stylesheet" href="/css/loi.css">
    </header>

    <main>



        <div class="row">
                <ul class="nav nav-pills nav-justified menu-depute-profil">
            <li class="active"><a href="#">Description</a></li>
        </ul>
            <div class="col-xs-6 col-sm-9" id="infos-parti-liens">
               <hr>
                <div>
                    <label>Nom du projet loi :</label>
                    <%= loi.name.fr %>
                </div>
                <div>
                    <label>Status de la loi :</label>
                    <%= loi.status.en %>
                </div>
                <div>
                    <label>Date d'introduction:</label>
                    <%= loi.introduced %>
                </div>
                <hr>
            </div>
            
        </div>

            <div id="grapheVotes"></div>
    </main>

    <footer>
        <% include ../partials/pied-page %>
    </footer>
</body>
</html>
