<!DOCTYPE html>
<html lang="fr-CA">
<head>
    <% include ../partials/balise-head-global %>
</head>
<body class="container">
    <header>
        <% include ../partials/entete %>
        <link rel="stylesheet" href="/css/projetLoi.css">
        <script>
    function myFunction() {
    // Declare letiables
    let input, filter, ul, li, a, i;
    input = document.getElementById('myInput');
    filter = input.value.toUpperCase();
    ul = document.getElementById("myUL");
    li = ul.getElementsByTagName('li');

    // Loop through all list items, and hide those who don't match the search query
    for (i = 0; i < li.length; i++) {
        a = li[i].getElementsByTagName("a")[0];
        if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
        } else {
            li[i].style.display = "none";
        }
    }
}
</script>
    </header>

    <main>
        <div class="row" id="resultat">
            <div class="col col-xs-12">
                Résultats 1 à 12 sur <%= votes.length %>
            </div>
        </div>
        <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names..">

        <ul id="myUL">
        <% for (let i = votes.length-1 ; i >0  ; --i) { %>
           <li>
              <a href="/loi/id/<%= votes[i].legisinfo_id%>" > <%= votes[i].name.fr %></a>
           </li>

        <% } %>
        </ul>
    </main>

    <div class="text-center">
    <ul class="pagination pagination-lg">
        <li><a href="#">Précédents</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">Suivants</a></li>
    </ul>
    </div>

    <footer>
        <% include ../partials/pied-page %>
    </footer>
</body>
</html>
