<!DOCTYPE html>
<html lang="fr-CA">
<head>
    <% include ../partials/balise-head-global %>
    <% include ../partials/balise-head-amcharts-datatables %>
	
	<script type="text/javascript">
			AmCharts.makeChart("chartPieParti",
				{
					"type": "pie",
					"balloonText": "[[title]]<br><span style='font-size:14px'><b>[[value]]</b> ([[percents]]%)</span>",
					"depth3D": 10,
					"innerRadius": 0,
					"baseColor": "#7E2C2C",
					"colors": [],
					"outlineThickness": 4,
					"titleField": "category",
					"valueField": "column-1",
					"handDrawScatter": 6,
					"theme": "default",
					"allLabels": [],
					"balloon": {},
					"legend": {
						"enabled": true,
						"align": "center",
						"markerType": "circle"
					},
					"titles": [
						{
							"id": "Title",
							"size": 23,
							"tabIndex": 0,
							"text": "Séparation des députés par parti politiques"
						}
					],
					"dataProvider": [
						{
							"category": "Liberal Party of Canada",
							"column-1": "55"
						},
						{
							"category": "Conservative Party of Canada",
							"column-1": "30"
						},
						{
							"category": "Green Party",
							"column-1": "7"
						},
						{
							"category": "New Democratic Party",
							"column-1": "10"
						}
					]
				}
			);
		</script>
</head>
<body class="container">
    <header>
        <% include ../partials/entete %>
    </header>

    <main>
		<div id="titre-page">
			<h1>Statistiques</h1>
			<hr>
		</div>
		
        <div class="jumbotron">
			<div id="chartPiePartiFiltres">
				<h4>Filtrer par:</h4>
			</div>
            <div id="chartPieParti" style=" width: 70%; height: 400px; background-color: #FFFFFF;" ></div>
			
			<p id="infoStatistiques">
				Nombre de députés: 399<br>
				Nombre de projets en cours: 29<br>
				Nombre de projets catalogués: 5674<br>
			</p>
        </div>
    </main>

    <footer>
        <% include ../partials/pied-page %>
    </footer>
</body>
</html>